/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,700&display=swap");

/* RESET STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/****** CUSTOM STYLES ******/

/*** MENU ***/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 8vw;
  padding: 32px 24px 48px 12px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 16px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: "";
  margin-top: -6px;
}

.menu-button::after {
  content: "";
  margin-top: 6px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 800px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* GLOBAL STYLES */

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

button {
  background-color: #d87d4a;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
}

/* HEADER */

hr {
  border-color: #2d2d2d;
}

header {
  background-color: black;
  color: white;
  background: url(./assets/home/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -20px;
  height: 162vw;

  margin-bottom: 8vw;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16vw;
  padding-right: 16vw;
}

.hero > h3 {
  text-transform: uppercase;
  color: #979797;
  font-size: 0.875rem;
  letter-spacing: 10px;
  margin-top: calc(25vw + 25px);
  margin-bottom: 16px;
}

.hero > h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1.29px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 3vw;
}

.hero > p {
  color: #f1f1f1;
  line-height: 1.563rem;
  text-align: center;
  margin-bottom: 7.5vw;
}

/*** MAIN ***/

main {
  padding: 24px;
  display: flex;
  flex-direction: column;

}

.shop-products-links {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.shop-product-link {
  background: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw;
  padding: 0;
  align-items: stretch;
}

.shop-products-links > button:nth-of-type(2) > .button-content > h3 {
  margin-top: -6px;
}

button > .spacer {
  height: 16vw;
}

.button-content {
  height: 165px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.shop-product-image-container {
  display: flex;
  justify-content: center;
}

.preview-image {
  width: 80px;
  height: auto;
  margin-bottom: 48px;
  filter: drop-shadow(0px 5vw 2vw #b5b5b5);
}

.headphone-preview {
  margin-top: -82px;
}

.speaker-preview {
  margin-top: -68px;
  width: 84px;
}

.earphone-preview {
  margin-top: -48px;
  width: 124px;
  margin-bottom: 14px;
}

.shop-product-title {
  letter-spacing: 1.07px;
  margin-bottom: 14px;
}

.shop-product-p {
  opacity: 0.5;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.p-container {
  display: flex;
  align-items: baseline;
}

.arrow {
  color: #d87d4a;
  font-size: 14px;
}

/* FEATURED PRODUCTS */

.featured-products {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 64px;
}

.featured-product {
  height: 720px;
  background-color: #d87d4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 8px;
}

.featured-product:first-of-type > img {
  object-fit: contain;
  height: 207px;
  margin-top: 55px;
  margin-bottom: 32px;
}

.featured-product:first-of-type > h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 1.29px;
  line-height: 40px;
  text-align: center;
  padding: 0 20vw;
  margin-bottom: 24px;
}

.featured-product:first-of-type > p {
  color: #fff;
  line-height: 25px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 300;
  padding: 0 9vw;
}

.featured-product:first-of-type > button {
  color: #fff;
  background-color: #000;
  min-width: 160px;
  height: 48px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0;
}

.featured-product:nth-of-type(2) {
  background: url(./assets/home/mobile/image-speaker-zx7.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: flex-start;
  justify-content: center;
  padding-left: 24px;
  height: 89vw;
}

.featured-product:nth-of-type(2) > button {
  margin-bottom: 32px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #000;
  color: #000;
}

.featured-product:nth-of-type(2) > h2 {
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 28px;
}

.featured-product:nth-of-type(3) {
  background-color: #fff;
  height: 113vw;
  border-radius: 8px;
}

.featured-product:nth-of-type(3) > .image-container {
  background: url(./assets/home/mobile/image-earphones-yx1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 224px;
  border-radius: 8px;
}

.featured-product:nth-of-type(3) > div {
  background: #f1f1f1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: center;
  padding: 24px;
  border-radius: 8px;
}

.featured-product:nth-of-type(3) > div > h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 32px;
}

.featured-product:nth-of-type(3) > div > button {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px solid black;
}

.audiophile-copy-section-container {
  margin-bottom: 100px;
}

.audiophile-copy-section-container > img {
  margin-bottom: 40px;
  border-radius: 8px;
}

.copy-section-copy-container {
  display: flex;
  flex-direction: column;
}

.copy-section-copy-container > h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 0 32px;
  margin-bottom: 32px;
}

.copy-section-copy-container > h2 > span {
  color: #d87d4a;
}

.copy-section-copy-container > p {
  text-align: center;
  padding: 0 8px;
}

/* FOOTER */

footer {
  background-color: #000;
  color: #fff;
  padding: 0 24px 24px 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

footer > hr {
  height: 4px;
  width: 101px;
  background-color: #d87d4a;
  margin-bottom: 48px;
  border: 1px solid #d87d4a;
}
.footer-logo {
  margin-bottom: 48px;
}

.social-links-container {
  display: flex;
  gap: 16px;
}

.footer-line-2 > p,
.footer-line-3 {
  color: #878787;
}

.footer-menu {
  list-style-type: none;
  letter-spacing: 2px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  align-items: center;
  padding: 0;
  margin-bottom: 48px;
}

.footer-line-2 {
  text-align: center;
  padding: 2px;
  margin-bottom: 48px;
}

.footer-line-3 {
  text-align: center;
  margin-bottom: 48px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  header {
    background: url("./assets/home/tablet/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 93vw;
    margin-bottom: 4vw;
  }

  .top-nav > img:first-of-type {
    margin-right: auto;
    margin-left: 42px;
  }

  .hero > h2 {
    font-size: 3.5rem;
    letter-spacing: 0.125rem;
    line-height: 3.625rem;
  }

  .hero > h3 {
    text-transform: uppercase;
    color: #979797;
    font-size: 0.875rem;
    letter-spacing: 10px;
    margin-top: calc(13vw + 25px);
    margin-bottom: 16px;
  }

  .hero > p {
    font-size: 0.938rem;
    padding: 0 10vw;
    margin-bottom: 4.4vw;
  }

  .shop-products-links {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 36px;
  }

  .shop-product-link {
    flex: 0 0 33%;
  }

  .headphone-preview {
    margin-top: -70px;
    margin-bottom: 34px;
  }

  .speaker-preview {
    margin-top: -76px;
  }

  .earphone-preview {
    margin-top: -91px;
    width: 150px;
    margin-bottom: 22px;
  }

  .featured-products {
    margin-bottom: 96px;
  }

  .featured-product:first-of-type > img {
    margin-top: 52px;
    margin-bottom: 64px;
  }

  .featured-product:first-of-type > h2 {
    padding: 0 38vw;
    font-size: 56px;
    letter-spacing: 2px;
    line-height: 58px;
  }

  .featured-product:first-of-type > p {
    padding: 0 24vw;
  }

  .featured-product:nth-of-type(2) {
    background: url(./assets/home/tablet/image-speaker-zx7.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    height: 44vw;
    align-items: flex-start;
    justify-content: center;
    padding-left: 62px;
  }

  .featured-product:nth-of-type(3) {
    background-color: #fff;
    height: 113vw;
    border-radius: 8px;
  }

  .featured-product:nth-of-type(3)  {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: stretch;
    height: 320px;
  }

  .featured-product:nth-of-type(3) > .image-container {
    background: url(./assets/home/tablet/image-earphones-yx1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
  }
  
  .featured-product:nth-of-type(3) > .featured-product-detail {
    height: auto;
    padding-left: 52px;
  }

  .audiophile-copy-section-container > img {
    width: 100%;
  }

  footer {
    align-items: flex-start;
  }

  .footer-menu {
    flex-direction: row;
    gap: 34px;
  }

  .footer-line-2 > p, .footer-line-3 > p {
    text-align: left;
  }

  footer > hr {
    margin-left: 5px;
  }
}
